<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>动漫</title>
</head>
<style>
    li {
        float: left;
    }
</style>
<body>
<div>
    <span>动漫-激情动漫</span>
</div>
<div>123
    <video controls="" controls
    " width="250px height="250px" autoplay="autoplay" >
    <source src="../1.mkv" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"'></source>
    </video>
</div>
<div>
    <ul>123
        <li>1
            <ul>123
                <li>1</li>
                <li>2</li>
            </ul>
        </li>
        <li>2
            <ul>234
                <li>1</li>
                <li>2</li>
            </ul>
        </li>
    </ul>
</div>
</body>
</html>
